.Block {
  @mixin card;

  &--small {
    max-width: 24rem;
  }
}

.Input {
  @mixin input;

  &--dark {
    color-scheme: dark;
    color: $lilac;
    background-color: $grey-blue;

    &:focus {
      color: $lilac-2;
      background-color: $violet;
    }
  }
}

.Button {
  @mixin button;

  &--dark {
    color: $lilac-li;
    background-color: $violet-deep;
    color-scheme: dark;
  }
}

.Title {
  @mixin title;

  &--small {
    font-size: 2rem;
    text-shadow: $lilac-2 2px 1px 4px;
  }
}

.Subtitle {
  @mixin title;

  font-size: 1.5rem;
  font-style: italic;
}

.Form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
  }

  .Button,
  .Input {
    width: 100%;
  }

  .Label {
    margin: 0.25rem;
    font-weight: 600;
    color: $lilac-2;
  }
}

.Error {
  color: #f47174;
  margin-bottom: 1rem;
  font-weight: 600;
}
