/* styles */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* COLORS */
/* root */
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr auto;
  grid-template-columns: auto;
}
body,
html {
  max-width: 100vw;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(rgba(33, 34, 93, 0.944) 0%, rgb(2, 2, 45) 100%);
}
html.no-scroll {
    overflow: hidden;
  }
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.Container {
  max-width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
}
.Main {
  max-width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 20rem);
}
.Block {
  max-width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 1px solid rgba(107, 85, 185, 0.299);
  border-bottom: 1px solid rgb(144 134 181 / 18%);
  box-shadow: 2px 8px 25px 0 rgba(17, 2, 42, 0.843);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0););
  border-radius: 20px;
}
.Block--small {
    max-width: 24rem;
  }
.Section {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: calc(100vh - 3rem);
}
.Section-Title {
    font-family: "Montserrat", sans-serif;
    font-size: 4.7rem;
    font-weight: 500;
    color: #9f98ca;
    letter-spacing: 0.12rem;
    text-shadow: #9f98ca 1px 0.5px 4px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
  }
.Page-Title {
  margin: 4rem 0 2rem 0;
}
.Input {
  color: #2f1e61;
  background-color: #c0b6dc;
  border: none;
  border-radius: 99rem;
  padding: 0.75rem;
  margin: 0.125rem;
}
.Input::placeholder {
    font-style: italic;
    color: #8479b9;
  }
.Input:focus {
    color: #2f1e61;
    background-color: #e5dff8;
  }
.Input:focus::placeholder {
      color: transparent;
    }
.Input--dark {
    color-scheme: dark;
    color: #c0b6dc;
    background-color: rgb(52, 53, 94);
  }
.Input--dark:focus {
      color: #9f98ca;
      background-color: #2f1e61;
    }
.Input--dark:focus-visible {
      outline: none;
    }
.Button {
  color: #2f1e61;
  background-color: #c0b6dc;
  border: none;
  border-radius: 99rem;
  padding: 0.75rem;
  margin: 0.125rem;
}
.Button::placeholder {
    font-style: italic;
    color: #8479b9;
  }
.Button:focus {
    color: #2f1e61;
    background-color: #e5dff8;
  }
.Button:focus::placeholder {
      color: transparent;
    }
.Button {
  background-color: #8479b9;
  font-weight: 600;
  transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) rgba(33, 34, 93, 0.944) 0%;
}
.Button:hover {
    color: #2f1e61;
    background-color: #9f98ca;
  }
.Button--dark {
    color: #e5dff8;
    background-color: #05092f;
    color-scheme: dark;
  }
.Title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #9f98ca;
  letter-spacing: 0.12rem;
  text-shadow: #9f98ca 1px 0.5px 4px;
  text-align: center;
}
.Title--small {
    font-size: 2rem;
    text-shadow: #9f98ca 2px 1px 4px;
  }
.Subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #9f98ca;
  letter-spacing: 0.12rem;
  text-shadow: #9f98ca 1px 0.5px 4px;
  text-align: center;

  font-size: 1.5rem;
  font-style: italic;
}
.Form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Form .Fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }
.Form .Button,
  .Form .Input {
    width: 100%;
  }
.Form .Label {
    margin: 0.25rem;
    font-weight: 600;
    color: #9f98ca;
  }
.Error {
  color: #f47174;
  margin-bottom: 1rem;
  font-weight: 600;
}
/* Components */
/* templates */
/* organisms */
.Header {
  z-index: 10;
  position: sticky;
  padding: 0 0.5%;
  top: 0;
  right: 0;
  left: 0;
  background: #05092f;
  opacity: 0.95;
  filter: drop-shadow(0 3px 8px #05092f);
}
.Header * {
    color: #c0b6dc;
  }
.Header .Container {
    height: 100%;
    padding: 0.3% 0;
    display: grid;
    grid-template-columns: 80px 1fr 2fr 30px;
    align-items: center;
  }
.Header .Container-strech {
      grid-template-columns: 80px 1fr 30px;
    }
.Header > .Container a,
  .Header-Menu,
  .Header-Search {
    display: flex;
  }
.Header-Nav {
    transition: text-shadow 0.6s ease;
    cursor: pointer;
  }
.Header-Nav:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Header-Nav ul {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
.Header-Nav a {
      padding: 0 1rem;
    }
.Header-Menu {
    justify-content: flex-end;
  }
.Header-Menu-Toggle {
      transition: filter 0.5s ease;
    }
.Header-Menu-Toggle:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Header-Menu-Toggle {
      display: block;
      font-size: 2rem;
      cursor: pointer;
}
.Header-Menu .Connected {
      transform: filter 0.5s ease;
      filter: drop-shadow(0 0 0.2rem #c0b6dc);
    }
.Header-Menu .Connected:hover {
        filter: drop-shadow(0 0 0 #c0b6dc);
      }
.Header-Menu-Container {
      display: none;
      position: fixed;
      flex-direction: column;
      right: 0;
      top: 70px;
      background-color: rgba(0, 0, 23, 0.35);
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 0 1rem;
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
      transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform;
    }
.Header-Menu-Container--opened {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
.Header-Menu-Item {
      transition: text-shadow 0.6s ease;
      cursor: pointer;
    }
.Header-Menu-Item:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Header-Menu-Item {
      margin: 0.75rem 0;
      font-weight: 600;
      cursor: pointer;
}
.Header-Search {
    justify-self: flex-start;
  }
.Header-Search-Options {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 2rem;
      width: calc(100% - 3rem);
      transform: translateY(100%);
      background: #000;
      border-radius: 0 0 1rem 1rem;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity;
      overflow: auto;
      max-height: 10rem;
    }
.Header-Search-Option {
      padding: 0.5rem 1rem;
      margin: 0.125rem 0;
      background: transparent;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) background;
      cursor: pointer;
    }
.Header-Search-Option:hover {
        background: rgba(#fff, 0.125);
      }
.Header-Search .Input {
      margin: 0 1rem;
      width: 240px;
      transition: 0.2s ease-in-out width;
    }
.Header-Search .Input.Strech-menu {
        width: 40px;
        font-family: Arial, FontAwesome;
      }
.Header-Search .Input.Strech-menu::placeholder {
          font-style: normal;
          text-align: center;
        }
.Header-Search .Input.Strech-menu:hover {
          filter: drop-shadow(0 0 0.2rem #c0b6dc);
          cursor: pointer;
        }
.Input:focus + .Header-Search-Options {
      opacity: 1;
    }
/* molecules */
/* atoms */
.Arrow {
  display: inline-flex;
}
.Arrow.Down {
    display: flex;
    position: absolute;
    align-items: center;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    width: 75px;
    height: 65px;
  }
.Arrow.Down polygon {
      fill: rgba(255, 255, 255, 0.247);
      transition: all 0.2s ease-out;
    }
.Arrow.Down polygon.arrow-middle {
        opacity: 0.75;
      }
.Arrow.Down polygon.arrow-top {
        opacity: 0.5;
      }
.Arrow.Down:hover polygon {
        fill: #ad98eb77;
        transition: all 0.2s ease-out;
      }
.Arrow.Down:hover polygon.arrow-bottom {
          transform: translateY(-18px);
        }
.Arrow.Down:hover polygon.arrow-top {
          transform: translateY(18px);
        }
/* Header Logo */
.Header-Logo {
    transition: filter 0.5s ease;
  }
.Header-Logo:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Header-Logo {
    fill: #c0b6dc;
    max-height: 45px;
}
