/* styles */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
:focus-visible {
  outline: none;
}
:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
}
/* COLORS */
/* GRADIENTS */
/* MEDIAS SIZES */
.Page-Title {
  margin: 4rem 0 2rem 0;
}
.Block {
  width: calc(100% - 1rem);
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 1px solid rgba(107, 85, 185, 0.299);
  border-bottom: 1px solid rgb(144 134 181 / 18%);
  box-shadow: 2px 8px 25px 0 rgba(17, 2, 42, 0.843);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0)
);
  border-radius: 20px;
}
.Block--small {
    max-width: 24rem;
  }
.Input {
  color: #2f1e61;
  background-color: #c0b6dc;
  border: none;
  border-radius: 99rem;
  padding: 0.75rem;
  margin: 0.125rem;
}
.Input::placeholder {
    font-style: italic;
    color: #8479b9;
  }
.Input:focus {
    color: #2f1e61;
    background-color: #e5dff8;
  }
.Input:focus::placeholder {
      color: transparent;
    }
.Input--dark {
    color-scheme: dark;
    color: #c0b6dc;
    background-color: rgb(52, 53, 94);
  }
.Input--dark:focus {
      color: #9f98ca;
      background-color: #2f1e61;
    }
.Button {
  color: #2f1e61;
  background-color: #c0b6dc;
  border: none;
  border-radius: 99rem;
  padding: 0.75rem;
  margin: 0.125rem;
}
.Button::placeholder {
    font-style: italic;
    color: #8479b9;
  }
.Button:focus {
    color: #2f1e61;
    background-color: #e5dff8;
  }
.Button:focus::placeholder {
      color: transparent;
    }
.Button {
  background-color: #8479b9;
  font-weight: 600;
  transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) rgba(255, 255, 255, 0.1);
}
.Button:hover {
    color: #2f1e61;
    background-color: #9f98ca;
  }
.Button--dark {
    color: #e5dff8;
    background-color: #05092f;
    color-scheme: dark;
  }
.Title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #9f98ca;
  letter-spacing: 0.12rem;
  text-shadow: #9f98ca 1px 0.5px 4px;
  text-align: center;
}
.Title--small {
    font-size: 2rem;
    text-shadow: #9f98ca 2px 1px 4px;
  }
.Subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #9f98ca;
  letter-spacing: 0.12rem;
  text-shadow: #9f98ca 1px 0.5px 4px;
  text-align: center;

  font-size: 1.5rem;
  font-style: italic;
}
.Form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Form .Fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
  }
.Form .Button,
  .Form .Input {
    width: 100%;
  }
.Form .Label {
    margin: 0.25rem;
    font-weight: 600;
    color: #9f98ca;
  }
.Error {
  color: #f47174;
  margin-bottom: 1rem;
  font-weight: 600;
}
/* root */
.App {
  display: grid;
  grid-template-rows: 70px minmax(100vh, 1fr) auto;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.no-scroll {
    overflow: hidden;
  }
body {
  font-family: "Inter", sans-serif;
}
#root {
  background: linear-gradient(
  rgba(33, 34, 93, 0.944) 0%,
  rgb(2, 2, 45) 100%
);
}
/* Components */
/* templates */
.Main {
  width: calc(100% - 1rem);
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
.Main .Section-Title {
    font-family: "Montserrat", sans-serif;
    font-size: 4.7rem;
    font-weight: 500;
    color: #9f98ca;
    letter-spacing: 0.12rem;
    text-shadow: #9f98ca 1px 0.5px 4px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
#tsparticles {
  /* //   overflow: hidden;
  //   position: absolute;
  //   top: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   right: 0px;
  //   z-index: 0; */
  height: 100vh;
}
.NotFound {
  margin: 0 5rem;
  display: flex;
  align-items: center;
}
.card404 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #9f98ca;
  letter-spacing: 0.12rem;
  text-shadow: #9f98ca 1px 0.5px 4px;
  text-align: center;
  width: calc(100% - 1rem);
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 1px solid rgba(107, 85, 185, 0.299);
  border-bottom: 1px solid rgb(144 134 181 / 18%);
  box-shadow: 2px 8px 25px 0 rgba(17, 2, 42, 0.843);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0)
);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  font-size: 3rem;
  padding: 5rem;
  z-index: 1;
}
.card404 strong {
    font-size: 4rem;
  }
.Login .Form,
.Signup .Form {
  position: relative;
}
.Login .Form .Button:disabled, .Signup .Form .Button:disabled {
    background-color: rgb(52, 53, 94);
  }
/* organisms */
.Footer {
  color: #9f98ca;
  position: relative;
  border-top: 1.3px solid #ad98eb77;
  font-weight: 400;
}
.Footer-Sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    justify-content: center;
    gap: 10%;
    padding: 3rem 3rem 6rem;
  }
.Footer-Sections-Section {
      line-height: 1.5rem;
    }
.Footer-Sections-Section-Title {
        font-family: "Montserrat", sans-serif;
        font-size: 4.7rem;
        font-weight: 500;
        color: #9f98ca;
        letter-spacing: 0.12rem;
        text-shadow: #9f98ca 1px 0.5px 4px;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
        text-align: left;
        font-size: 1.3rem;
        padding-bottom: 0.4rem;
        margin-bottom: 0.4rem;
      }
.Footer-Sections-Section-Content {
        text-align: justify;
      }
.Footer-Sections-Section-Link {
        transition: text-shadow 0.6s ease;
        cursor: pointer;
      }
.Footer-Sections-Section-Link:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Footer-Sections-Section-Link {
        padding-left: 0.5rem;
}
.Footer-Sections .Plan * {
        text-align: left;
      }
.Footer-Bottom {
    background-color: rgba(255, 255, 255, 0.1);
    color: #8479b9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
  }
.Footer-Bottom a {
      transition: text-shadow 0.6s ease;
      cursor: pointer;
    }
.Footer-Bottom a:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Footer-Bottom a {
      color: #9f98ca;
}
.Header {
  z-index: 10;
  position: sticky;
  padding: 0 0.5%;
  top: 0;
  right: 0;
  left: 0;
  background: #05092f;
  opacity: 0.95;
  filter: drop-shadow(0 3px 8px #05092f);
}
.Header * {
    color: #c0b6dc;
  }
.Header .Container {
    width: calc(100% - 1rem);
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 0.3% 0;
    display: grid;
    grid-template-columns: 80px 1fr 2fr 30px;
    align-items: center;
  }
.Header .Container-strech {
      grid-template-columns: 80px 1fr 30px;
    }
.Header > .Container a,
  .Header-Menu,
  .Header-Search {
    display: flex;
  }
.Header-Nav {
    transition: text-shadow 0.6s ease;
    cursor: pointer;
  }
.Header-Nav:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Header-Nav ul {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
.Header-Nav li {
      padding-right: 1rem;
    }
.Header-Nav a {
      padding: 0 1rem;
    }
.Header-Menu {
    justify-content: flex-end;
  }
.Header-Menu-Toggle {
      transition: filter 0.5s ease;
    }
.Header-Menu-Toggle:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Header-Menu-Toggle {
      display: block;
      font-size: 2rem;
      cursor: pointer;
}
.Header-Menu-Toggle__Connected {
        transform: filter 0.5s ease;
        filter: drop-shadow(0 0 0.2rem #c0b6dc);
      }
.Header-Menu-Toggle__Connected:hover {
          filter: drop-shadow(0 0 0 #c0b6dc);
        }
.Header-Menu-Container {
      display: none;
      position: fixed;
      flex-direction: column;
      right: 0;
      top: 70px;
      background-color: rgba(0, 0, 23, 0.35);
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 0 1rem;
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
      transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform;
    }
.Header-Menu-Container--opened {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
.Header-Menu-Item {
      transition: text-shadow 0.6s ease;
      cursor: pointer;
    }
.Header-Menu-Item:hover {
    color: #c0b6dc;
    text-shadow: #c0b6dc 1px 0.5px 4px;
  }
.Header-Menu-Item {
      margin: 0.75rem 0;
      font-weight: 600;
      cursor: pointer;
}
.Hero {
  height: calc(100vh - 70px);
  max-height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 1fr min-content;
  gap: 10px;
}
.Hero-Title {
    align-self: center;
  }
.Hero-Text {
    margin: 10% auto;
    color: #9f98ca;
    letter-spacing: 0.05rem;
    width: 100%;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
  }
.Myth {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(0, max-content) 1fr min-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Myth .Section-Title {
    padding-top: 4rem;
  }
.Homepage .Map-Form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 0.3rem;
  }
.Homepage .Map-Form-LookAddress {
      width: 100%;
      display: flex;
      grid-column: span 2;
    }
.Homepage .Map-Form-LookAddress .LookAddress-Address {
        width: 70%;
        border-radius: 20px 0 0 20px;
        margin-right: 0;
      }
.Homepage .Map-Form-LookAddress .LookAddress-Search {
        width: 30%;
        padding-left: 0.5rem;
        border-radius: 0 20px 20px 0;
        margin-left: 0;
      }
.Homepage .Map-Form-Date,
    .Homepage .Map-Form-Geolocation,
    .Homepage .Map-Form-Favorite,
    .Homepage .Map-Form-Event {
      width: 100%;
      margin: 0;
    }
.Homepage .Map-Form-Favorite,
    .Homepage .Map-Form-Event {
      grid-column: span 2;
    }
@media screen and (max-width: 760px) {
      .Homepage .Map .Map-Form-LookAddress {
        grid-column: span 4;
      }

      .Homepage .Map .Map-Form-Date,
      .Homepage .Map .Map-Form-Geolocation {
        grid-column: span 2;
      }
  }
@media screen and (max-width: 550px) {
      .Homepage .Map .Map-Form-LookAddress {
        grid-column: span 4;
      }

      .Homepage .Map .Map-Form-Favorite,
      .Homepage .Map .Map-Form-Event {
        grid-column: span 4;
      }
  }
@media screen and (max-width: 420px) {
      .Homepage .Map .Map-Form-LookAddress,
      .Homepage .Map .Map-Form-Date,
      .Homepage .Map .Map-Form-Geolocation,
      .Homepage .Map .Map-Form-Favorite,
      .Homepage .Map .Map-Form-Even {
        grid-column: span 4;
      }
  }
.Modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  max-width: 100%;
  z-index: 11;
  background-color: rgba(7, 6, 46, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out opacity;
}
.Modal--opened {
    opacity: 1;
    pointer-events: initial;
  }
.Modal .Detail-Block {
      height: 100%;
      min-height: 25rem;
      margin: 6rem auto;
    }
.Modal .Detail-Block-Modal-Close {
        transition: filter 0.5s ease;
      }
.Modal .Detail-Block-Modal-Close:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Modal .Detail-Block-Modal-Close {
        color: #c0b6dc;
        font-size: 2rem;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
        z-index: 1;
}
.Modal .Detail-Picture img {
        height: 16rem;
      }
.Modal .Detail-Picture-Title {
        font-size: 1.5rem;
      }
.Modal .Detail-Description {
      padding: 1.2rem 1rem 0 3rem;
    }
.Header-Search {
    justify-self: flex-start;
    position: relative;
  }
.Header-Search-Options {
      position: absolute;
      opacity: 0;
      bottom: -4px;
      left: 16px;
      width: 240px;
      transform: translateY(100%);
      background: #05092f;
      border-radius: 0 0 1rem 1rem;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity;
      overflow: auto;
      max-height: 10rem;
    }
.Header-Search-Option {
      padding: 0.5rem 1rem;
      margin: 0.125rem 0;
      background: transparent;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) background;
      cursor: pointer;
    }
.Header-Search-Option:hover {
        background: rgba(#fff, 0.125);
      }
.Header-Search .Input {
      margin: 0 1rem;
      width: 240px;
      transition: 0.2s ease-in-out width;
    }
.Header-Search .Input.Strech-menu {
        width: 40px;
        font-family: Arial, FontAwesome;
      }
.Header-Search .Input.Strech-menu::placeholder {
          font-style: normal;
          text-align: center;
        }
.Header-Search .Input.Strech-menu:hover {
          filter: drop-shadow(0 0 0.2rem #c0b6dc);
          cursor: pointer;
        }
.Input:focus + .Header-Search-Options {
      opacity: 1;
    }
/* molecules */
.Section {
  position: relative;
  padding-top: 6vw;
}
.Detail-Block {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border: 1px solid rgba(107, 85, 185, 0.299);
    border-bottom: 1px solid rgb(144 134 181 / 18%);
    box-shadow: 2px 8px 25px 0 rgba(17, 2, 42, 0.843);
    justify-content: flex-start;
    background: linear-gradient(
  180deg,
  rgba(129, 124, 249, 0.35),
  rgba(106, 101, 245, 0.15)
);
    height: 80%;
    min-height: min-content;
    max-height: 35rem;
    margin-bottom: 2rem;
  }
.Detail-Block-Title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
.Detail-Block-Container {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
      height: 100%;
      max-height: calc(100% - 5rem);
    }
.Detail-Picture {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    height: min-content;
  }
.Detail-Picture img {
      border-radius: 20px;
      height: 13rem;
      max-height: 16rem;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1rem;
    }
.Detail-Picture-Title {
      margin-bottom: 1rem;
      font-style: italic;
      font-size: 1.3rem;
    }
.Detail-Description {
    padding: 0 1rem 0 3rem;
    overflow-y: auto;
    height: 100%;
    max-height: calc(100% - 2rem);
  }
.Detail-Description-Title {
      font-family: "Montserrat", sans-serif;
      font-size: 4.7rem;
      font-weight: 500;
      color: #9f98ca;
      letter-spacing: 0.12rem;
      text-shadow: #9f98ca 1px 0.5px 4px;
      text-align: center;
      text-shadow: unset;
      font-size: 1.3rem;
      color: #747cf078;
      border-radius: 20px;
      text-align: left;
      display: inline;
    }
.Detail-Description-Text {
      color: #9f98ca;
      letter-spacing: 0.05rem;
      padding: 3rem;
      line-height: 1.4rem;
      padding: 0.7rem 0 2.4rem 0;
      line-height: 1.6rem;
    }
.Detail-Description-Text:last-child {
      padding-bottom: 0;
    }
@media screen and (max-width: 760px) {
  .Detail-Block {
    overflow: hidden;
  }

    .Detail-Block-Title {
      font-size: 1.6rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

  .Detail-Block-Container {
    display: block;
    overflow-y: auto;
    max-height: calc(100% - 5rem);
    padding-bottom: 1rem;
  }

    .Detail-Block-Container .Detail-Description {
      overflow-y: visible;
      padding: 1.2rem 1rem 0 3rem;
    }
}
/* atoms */
.Arrow {
  display: inline-flex;
}
.ArrowDown {
    align-self: end;
    display: flex;
    margin: 0 auto;
    bottom: 2rem;
    width: 75px;
    height: 65px;
  }
.ArrowDown polygon {
      fill: rgba(255, 255, 255, 0.247);
      transition: all 0.2s ease-out;
    }
.ArrowDown polygon.arrow-middle {
        opacity: 0.75;
      }
.ArrowDown polygon.arrow-top {
        opacity: 0.5;
      }
.ArrowDown:hover polygon {
        fill: #ad98eb77;
        transition: all 0.2s ease-out;
      }
.ArrowDown:hover polygon.arrow-bottom {
          transform: translateY(-18px);
        }
.ArrowDown:hover polygon.arrow-top {
          transform: translateY(18px);
        }
/* Header Logo */
.Header-Logo {
    transition: filter 0.5s ease;
  }
.Header-Logo:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Header-Logo {
    fill: #c0b6dc;
    max-height: 45px;
}
.react-spinner-loader-swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.react-spinner-loader-swing div:nth-of-type(1) {
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.react-spinner-loader-swing div:nth-of-type(2) {
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.react-spinner-loader-swing div:nth-of-type(3) {
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.react-spinner-loader-swing div:nth-of-type(4) {
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.react-spinner-loader-swing div:nth-of-type(5) {
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.react-spinner-loader-swing div:nth-of-type(6) {
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.react-spinner-loader-swing div:nth-of-type(7) {
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.react-spinner-loader-shadow {
  clear: left;
  padding-top: 1.5em;
}
.react-spinner-loader-shadow div {
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.react-spinner-loader-shadow .react-spinner-loader-shadow-l {
  background: #d5d8d6;
}
.react-spinner-loader-shadow .react-spinner-loader-shadow-r {
  background: #eed3ca;
}
@keyframes ball-l {
  0%, 50% {
    transform: rotate(0) translateX(0);
  }
  100% {
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-r {
  0% {
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    transform: rotate(0) translateX(0)
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    transform: translateX(0);
  }
}
.react-spinner-loader-swing-l {
  animation: ball-l .425s ease-in-out infinite alternate;
}
.react-spinner-loader-swing-r {
  animation: ball-r .425s ease-in-out infinite alternate;
}
.react-spinner-loader-shadow-l {
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.react-spinner-loader-shadow-r {
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}
.react-spinner-loader-svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
  -webkit-animation: 1.4s linear infinite loader-spin;
}
.react-spinner-loader-svg-cal-loader__path {

  animation: 1.4s ease-in-out infinite loader-path;
  -webkit-animation: 1.4s ease-in-out infinite loader-path;
}
@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
.react-spinner-loader-svg svg {
  transform-origin: 50% 65%;
}
.react-spinner-loader-svg svg polygon {
  stroke-dasharray: 17;
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
[data-testid] {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
circle {
  fill: #8479b9;
}
.Detail-Favorite {
    transition: filter 0.5s ease;
  }
.Detail-Favorite:hover {
    filter: drop-shadow(0 0 0.2rem #c0b6dc);
  }
.Detail-Favorite {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: #c0b6dc;
    font-size: 2rem;
    cursor: pointer;
}
.Detail-Favorite--favorited {
      color: #9f98ca;
    }
