.Header {
  z-index: 10;
  position: sticky;
  padding: 0 0.5%;
  top: 0;
  right: 0;
  left: 0;
  background: $violet-deep;
  opacity: 0.95;
  filter: drop-shadow(0 3px 8px $violet-deep);

  & * {
    color: $lilac;
  }

  .Container {
    height: 100%;
    padding: 0.3% 0;
    display: grid;
    grid-template-columns: minmax(50px, 8rem) 1fr 2fr 30px;
    align-items: center;

    &-strech {
      grid-template-columns: minmax(50px, 8rem) 1fr 30px;
    }

    & > a,
    -Menu {
      display: flex;
    }
  }

  &-Nav {
    @mixin link;

    ul {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }

    a {
      padding: 0 1rem;
    }
  }

  &-Menu {
    justify-content: flex-end;

    &-Toggle {
      @mixin svg;
      display: block;
      font-size: 2rem;
      cursor: pointer;
    }
    .Connected {
      transform: filter 0.5s ease;
      filter: drop-shadow(0 0 0.2rem $lilac);

      &:hover {
        filter: drop-shadow(0 0 0 $lilac);
      }
    }

    &-Container {
      display: none;
      position: fixed;
      flex-direction: column;
      right: 0;
      top: 70px;
      background-color: $background-3;
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 0 1rem;
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
      transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform;

      &--opened {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
    }

    &-Item {
      @mixin link;
      margin: 0.75rem 0;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
