.Header {
  z-index: 10;
  position: sticky;
  padding: 0 0.5%;
  top: 0;
  right: 0;
  left: 0;
  background: $violet-deep;
  opacity: 0.95;
  filter: drop-shadow(0 3px 8px $violet-deep);

  .Container {
    @mixin container;
    position: relative;
    height: 100%;
    padding: 0.3% 0;
    display: grid;
    grid-template-columns: 80px 1fr 2fr 30px;
    align-items: center;

    &-strech {
      grid-template-columns: 80px 1fr 30px;
    }
  }

  & > .Container a,
  &-Search {
    display: flex;
  }

  &-Nav {
    @mixin link;

    ul {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }

    li {
      padding-right: 1rem;
    }

    a {
      color: $lilac;
      padding: 0 1rem;
    }
  }

  &-Menu {
    justify-content: flex-end;

    &-Toggle {
      @mixin svg;
      display: block;
      font-size: 2rem;
      cursor: pointer;
      color: $lilac;

      &__Connected {
        transform: filter 0.5s ease;
        filter: drop-shadow(0 0 0.2rem $lilac);

        &:hover {
          filter: drop-shadow(0 0 0 $lilac);
        }
      }
    }

    &-Container {
      position: absolute;
      flex-direction: column;
      right: -8px;
      top: 70px;
      background-color: $background-3;
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 1rem 1rem;
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform,
        0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) color;
      color: $violet-deep;

      &--opened {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        color: $lilac;
      }
    }

    &-Item {
      @mixin link;
      margin: 1rem 0;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
