.Header {
  z-index: 10;
  position: sticky;
  padding: 0 0.5%;
  top: 0;
  right: 0;
  left: 0;
  background: $violet-deep;
  color: $lilac;
  opacity: 0.95;
  filter: drop-shadow(0 3px 8px $violet-deep);

  .Container {
    height: 100%;
    padding: 0.3% 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Left,
  &-Right {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
