.myconstellations {
  &-container {
    grid-template-columns: repeat(4, 1fr);
  }
  &-title {
    grid-column: span 2;
  }
  &-inner-container {
    grid-column: span 4;

    @media screen and (max-width: 480px) {
      .myconstellations-element {
        padding-bottom: 0.4rem;
        width: 100%;
      }
    }
  }
}
