.NotFound {
  display: flex;
  align-items: center;

  .card404 {
    @mixin title;
    @mixin card;
    backdrop-filter: blur(9px);
    font-size: 3rem;
    padding: 5rem;
    z-index: 1;

    strong {
      font-size: 4rem;
    }

    @media screen and (max-width: 370px) {
      font-size: 2rem;

      strong {
        font-size: 3rem;
      }
    }
  }

  & ~ .Footer {
    background-color: $violet-deep;
  }
}
