.Modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  max-width: 100%;
  z-index: 11;
  background-color: $background-modal;
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out opacity;

  &--opened {
    opacity: 1;
    pointer-events: initial;
  }

  .Detail {
    &-Block {
      height: 100%;
      min-height: 25rem;
      margin: 6rem auto;

      &-Modal-Close {
        @mixin svg;
        color: $lilac;
        font-size: 2rem;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
        z-index: 1;
      }

      &__address {
        height: min-content;
      }
    }

    &-Picture {
      img {
        height: 16rem;
      }
      &-Title {
        font-size: 1.5rem;
      }
    }

    &-Description {
      padding: 1.2rem 1rem 0 3rem;
    }
  }
}
