.Header {
  &-Search {
    justify-self: flex-start;

    &-Options {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 2rem;
      width: calc(100% - 3rem);
      transform: translateY(100%);
      background: #000;
      border-radius: 0 0 1rem 1rem;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity;
      overflow: auto;
      max-height: 10rem;
    }

    &-Option {
      padding: 0.5rem 1rem;
      margin: 0.125rem 0;
      background: transparent;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) background;
      cursor: pointer;

      &:hover {
        background: rgba(#fff, 0.125);
      }
    }
    .Input {
      margin: 0 1rem;
      width: 240px;
    }

    .Input:focus + &-Options {
      opacity: 1;
    }
  }
}
