.Hero {
  height: calc(100vh - 70px);
  max-height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 1fr min-content;
  gap: 10px;

  &-Title {
    align-self: center;
  }

  &-Text {
    margin: 10% auto;
    color: $lilac-2;
    letter-spacing: 0.05rem;
    width: 100%;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
  }
}
