@import "./App.css";

html {
  scroll-behavior: smooth;

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  overflow-x: hidden;
  background: $gradient-background-night;
}
