@import "./App.css";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  background: linear-gradient($background-1, $background-2);
}
